---
import Container from "@/components/container.astro";
import Features from "@/components/features.astro";
import Hero from "@/components/hero.astro";
import Layout from "@/layouts/Layout.astro";
import NewsletterForm from "@/components/NewsletterForm.astro";
---

<Layout title="">
  <Container>
    <Hero />
    <Features />
    <div class="mt-24">
      <NewsletterForm />
    </div>
  </Container>
</Layout>
